/* reset styles */
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 100%;
}

body {
  background-color: #efefef;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.h-100vh {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.btn {
  border: 1px solid #cc2a2a;
  background-color: #fff;
  color: #333;
}

.btn-red {
  background-color: #cc2a2a;
  color: #f5f5f5;
}

.btn-outline-primary {
  background-color: #fff;
  color: #3283EE;
  border: 2px solid #3283EE;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #1AC886;
  border: 1px solid #1AC886;
}

.btn-outline-danger {
  background-color: #fff;
  color: #b33232;
  border: 1px solid #b33232;
}

.pt-1 {
  padding-top: 0.3333333333;
}

.pt-2 {
  padding-top: 0.6666666667;
}

.pt-3 {
  padding-top: 1;
}

.pt-4 {
  padding-top: 1.3333333333;
}

.pt-5 {
  padding-top: 1.6666666667;
}

.pt-6 {
  padding-top: 2;
}

.pt-7 {
  padding-top: 2.3333333333;
}

.pt-8 {
  padding-top: 2.6666666667;
}

.pt-9 {
  padding-top: 3;
}

.btn-primary {
  color: #3283EE;
  border-color: #3283EE;
}

.btn-secondary {
  color: #1AC886;
  border-color: #1AC886;
}

.btn-error {
  color: #D32752;
  border-color: #D32752;
}

.btn-info {
  color: #F6C31C;
  border-color: #F6C31C;
}

.btn-blue {
  color: #1919E6;
  border-color: #1919E6;
}

.btn-red {
  color: #E61919;
  border-color: #E61919;
}

.btn-yellow {
  color: #E6E619;
  border-color: #E6E619;
}

.btn-green {
  color: #19E635;
  border-color: #19E635;
}

.btn-orange {
  color: #FFA600;
  border-color: #FFA600;
}

.btn-purple {
  color: #9900FF;
  border-color: #9900FF;
}

.btn-gray {
  color: #808080;
  border-color: #808080;
}

.btn-black {
  color: black;
  border-color: black;
}

.btn-white {
  color: white;
  border-color: white;
}

.card {
  display: block;
  padding: 20px;
  border: 3px solid wheat;
  border-radius: 10px;
}
.card .card-title {
  font-size: 32px;
  padding-bottom: 20px;
}
.card .card-body {
  font-size: 16px;
}

.text-primary {
  color: #3283EE;
}

.bg-primary {
  background-color: #3283EE;
}

.bg-primary-light-2 {
  background-color: #619ff2;
}

.bg-primary-dark-2 {
  background-color: #3279d6;
}

.bg-primary-light-4 {
  background-color: #90bcf6;
}

.bg-primary-dark-4 {
  background-color: #326ebe;
}

.bg-primary-light-6 {
  background-color: #bfd8fa;
}

.bg-primary-dark-6 {
  background-color: #3264a7;
}

.bg-primary-light-8 {
  background-color: #eef5fe;
}

.bg-primary-dark-8 {
  background-color: #325a8f;
}

.text-secondary {
  color: #1AC886;
}

.bg-secondary {
  background-color: #1AC886;
}

.bg-secondary-light-2 {
  background-color: #31e4a0;
}

.bg-secondary-dark-2 {
  background-color: #1ab47a;
}

.bg-secondary-light-4 {
  background-color: #5eeab5;
}

.bg-secondary-dark-4 {
  background-color: #1aa06d;
}

.bg-secondary-light-6 {
  background-color: #8bf0ca;
}

.bg-secondary-dark-6 {
  background-color: #1a8c61;
}

.bg-secondary-light-8 {
  background-color: #b8f6de;
}

.bg-secondary-dark-8 {
  background-color: #1a7854;
}

.text-error {
  color: #D32752;
}

.bg-error {
  background-color: #D32752;
}

.bg-error-light-2 {
  background-color: #de4f73;
}

.bg-error-dark-2 {
  background-color: #be274d;
}

.bg-error-light-4 {
  background-color: #e67a95;
}

.bg-error-dark-4 {
  background-color: #a92747;
}

.bg-error-light-6 {
  background-color: #eea5b7;
}

.bg-error-dark-6 {
  background-color: #942742;
}

.bg-error-light-8 {
  background-color: #f6d0d9;
}

.bg-error-dark-8 {
  background-color: #7f273d;
}

.text-info {
  color: #F6C31C;
}

.bg-info {
  background-color: #F6C31C;
}

.bg-info-light-2 {
  background-color: #f8d04d;
}

.bg-info-dark-2 {
  background-color: #ddb01c;
}

.bg-info-light-4 {
  background-color: #fadd7e;
}

.bg-info-dark-4 {
  background-color: #c59d1c;
}

.bg-info-light-6 {
  background-color: #fceaaf;
}

.bg-info-dark-6 {
  background-color: #ac8a1c;
}

.bg-info-light-8 {
  background-color: #fef7e0;
}

.bg-info-dark-8 {
  background-color: #94781c;
}

.text-blue {
  color: #1919E6;
}

.bg-blue {
  background-color: #1919E6;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.bg-blue-dark-2 {
  background-color: #1919cf;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.bg-blue-dark-4 {
  background-color: #1919b8;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.bg-blue-dark-6 {
  background-color: #1919a1;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.bg-blue-dark-8 {
  background-color: #19198a;
}

.text-red {
  color: #E61919;
}

.bg-red {
  background-color: #E61919;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.bg-red-dark-2 {
  background-color: #cf1919;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.bg-red-dark-4 {
  background-color: #b81919;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.bg-red-dark-6 {
  background-color: #a11919;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.bg-red-dark-8 {
  background-color: #8a1919;
}

.text-yellow {
  color: #E6E619;
}

.bg-yellow {
  background-color: #E6E619;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.bg-yellow-dark-2 {
  background-color: #cfcf19;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.bg-yellow-dark-4 {
  background-color: #b8b819;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.bg-yellow-dark-6 {
  background-color: #a1a119;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.bg-yellow-dark-8 {
  background-color: #8a8a19;
}

.text-green {
  color: #19E635;
}

.bg-green {
  background-color: #19E635;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.bg-green-dark-2 {
  background-color: #19cf32;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.bg-green-dark-4 {
  background-color: #19b82f;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.bg-green-dark-6 {
  background-color: #19a12c;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.bg-green-dark-8 {
  background-color: #198a28;
}

.text-orange {
  color: #FFA600;
}

.bg-orange {
  background-color: #FFA600;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.bg-orange-dark-2 {
  background-color: #e69500;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.bg-orange-dark-4 {
  background-color: #cc8500;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.bg-orange-dark-6 {
  background-color: #b37400;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.bg-orange-dark-8 {
  background-color: #996400;
}

.text-purple {
  color: #9900FF;
}

.bg-purple {
  background-color: #9900FF;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.bg-purple-dark-2 {
  background-color: #8a00e6;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.bg-purple-dark-4 {
  background-color: #7a00cc;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.bg-purple-dark-6 {
  background-color: #6b00b3;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.bg-purple-dark-8 {
  background-color: #5c0099;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.bg-gray-light-2 {
  background-color: #9a9a9a;
}

.bg-gray-dark-2 {
  background-color: #7a7a7a;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.bg-gray-dark-4 {
  background-color: #747474;
}

.bg-gray-light-6 {
  background-color: #cdcdcd;
}

.bg-gray-dark-6 {
  background-color: #6f6f6f;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.bg-gray-dark-8 {
  background-color: #6b6b6b;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.bg-black-light-2 {
  background-color: #1a1a1a;
}

.bg-black-dark-2 {
  background-color: black;
}

.bg-black-light-4 {
  background-color: #333333;
}

.bg-black-dark-4 {
  background-color: black;
}

.bg-black-light-6 {
  background-color: #4d4d4d;
}

.bg-black-dark-6 {
  background-color: black;
}

.bg-black-light-8 {
  background-color: #666666;
}

.bg-black-dark-8 {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.bg-white-dark-2 {
  background-color: #e8e8e8;
}

.bg-white-light-4 {
  background-color: white;
}

.bg-white-dark-4 {
  background-color: #d5d5d5;
}

.bg-white-light-6 {
  background-color: white;
}

.bg-white-dark-6 {
  background-color: #c4c4c4;
}

.bg-white-light-8 {
  background-color: white;
}

.bg-white-dark-8 {
  background-color: #b6b6b6;
}

/*# sourceMappingURL=main.css.map */
