/* Error: Only one positional argument is allowed. All other arguments must be passed by name.
 *    ,
 * 16 |             background-color: color.adjust($valoare, $i*10);
 *    |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\_utilities.scss 16:31  @import
 *   main.scss 5:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only one positional argument is allowed. All other arguments must be passed by name.\a    \2577 \a 16 \2502              background-color: color.adjust($valoare, $i*10);\d\a    \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\_utilities.scss 16:31  @import\a   main.scss 5:9                 root stylesheet";
}
