$nav-background: grey;
$nav-height    : 50px;
$red           : rgb(204, 42, 42);
$white         :#f5f5f5;
$border-1      : 1px solid;

$primary: #3283EE !default;
$secondary: #1AC886 !default;
$error: #D32752 !default;
$info: #F6C31C !default;
$danger: #b33232;


$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$gray-600: grey;
$gray-800: rgb(99, 96, 96);
// scss-docs-end color-variables

// scss-docs-start colors-map

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919E6,
  "red": #E61919,
  "yellow": #E6E619,
  "green": #19E635,
  "orange": #FFA600,
  "purple": #9900FF,
  "gray": #808080,
  "black": black,
  "white": white,
) !default;



$base-padding: 20px;
$base-border-thickness: 3px;
$base-border-radius: 40px;
$bg-white: wheat;


// 