@use 'sass:color';

@each $cheie,
$valoare in $colors {

    .text-#{$cheie} {
        color: $valoare;
    }

    .bg-#{$cheie} {
        background-color: $valoare;
    }

    @for $i from 1 to 5 {
        .bg-#{$cheie}-light-#{$i*2} {
            background-color: color.adjust($valoare, $lightness: $i * 10%);
        }
        .bg-#{$cheie}-dark-#{$i*2} {
            background-color: color.scale($valoare, $blackness: $i * 10%);
        }
    }
}